<html>
<head>
    <title>check</title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <style type="text/css">
        .todo-table {
        margin: 0 auto;
        }
        .center {
        text-align: center;
        }
    </style>
</head>

<body>

<table class="todo-table pure-table pure-table-horizontal pure-table-striped">
    <thead>
    <tr>
        <th>#</th>
        <th>Task</th>
        <th>Time</th>
        <th>Status</th>
        <th>Username</th>
    </tr>
    </thead>
    <tbody>
    {% if todos %}
    {% for t in todos %}
    <tr>
        <td>{{ t.id }}</td>
        <td>{{ t.task }}</td>
        <td>{{ t.timestamp }}</td>
        <td>{{ t.complete }}</td>
        <!-- use url_for()
        <td><a href={{url_for('delete', todo_id=t.id)}}>delete</a></td>
        -->
        <td>{{ t.user.username }}</td>
    </tr>
    {% endfor %}
    {% endif %}
    </tbody>
</table>

</body>
</html>