{% extends "layout.html" %}
{% block head_title %} <title>index</title>{% endblock %}
<!--
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
<link rel="stylesheet" href="../static/css/pure-min.css">
<style type="text/css">
    .todo-table {
    margin: 0 auto;
    }
    .center {
    text-align: center;
    }
</style>
-->
{% block body_content %}
<br>
{% if not user_id %}
<div class="headers">
    <a href="/sign">sign</a>
    <a href="/login">login</a>
</div>
{% else %}
<a href="/check">check</a>
<a href="/logout">sign out</a>
{% endif %}
<div class="center">
    <h1>Todo</h1>

    <form action={{url_for("add")}} method="post">
        <input type="text" placeholder="Add Todo" name="todo">
        <input class="pure-button pure-button-primary" type="submit" value="Add">
    </form>
</div>
<br>
<table class="todo-table pure-table pure-table-horizontal pure-table-striped">
    <thead>
    <tr>
        <th>#</th>
        <th>Task</th>
        <th>Time</th>
        <th>Action</th>
        <th>Username</th>
    </tr>
    </thead>
    <tbody>
    {% if todos %}
    {% for t in todos %}
    <tr>
        <td>{{ t.id }}</td>
        <td>{{ t.task }}</td>
        <td>{{ t.timestamp }}</td>
        <!-- use url_for()
        <td><a href={{url_for('delete', todo_id=t.id)}}>delete</a></td>
        -->
        <td><a href={{url_for('delete', todo_id=t.id)}}>complete</a></td>
        <td>{{ t.user.username }}</td>
    </tr>
    {% endfor %}
    {% endif %}
    </tbody>
</table>
{% endblock %}